<%= stylesheet_link_tag    'handsontable.full' %>
<%= javascript_include_tag 'csv_import' %>

<div class="container-fluid">
  <div class="row col-sm-12 col-md-12 mt-5">
    <h2 class="mr-auto">Import On Hand Inventory</h2>
  </div>
  <%= render partial: 'import_inventory', locals: { import_for: ImportRequest::IMPORT_FOR[:on_hand]} %>
</div>

<br>
<div id="import_file_rows"></div>
